body {
	margin: 0;
	padding: 0;
}

@tileW: 25px;

.minesweeper {
	&__board {
		overflow: auto;
		
		&.cols-15 {
			width: @tileW * 15;
		}
		
		&.rows-15 {
			height: @tileW * 15;
		}
	}
	
	&__tile {
		width: @tileW;
		height: @tileW;
		float: left;
		box-sizing: border-box;
		border: 1px solid grey;
        background: #e2e2e2;
		text-align: center;
		line-height: @tileW;
		cursor: pointer;
        font-family: sans-serif;
        font-weight: bold;
		
        &.is-cleared {
            background: #fff;
            &.bombs {
                &--1 {
                    color: blue;
                }
                &--2 {
                    color: green;
                }
                &--3 {
                    color: red;
                }
                &--4 {
                    color: #000;
                }
            }
        }
        
        &.is-flagged {
            background: pink;
        }
	}
}