body {
  margin: 0;
  padding: 0;
}
.minesweeper__board {
  overflow: auto;
}
.minesweeper__board.cols-15 {
  width: 375px;
}
.minesweeper__board.rows-15 {
  height: 375px;
}
.minesweeper__tile {
  width: 25px;
  height: 25px;
  float: left;
  box-sizing: border-box;
  border: 1px solid grey;
  background: #e2e2e2;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}
.minesweeper__tile.is-cleared {
  background: #fff;
}
.minesweeper__tile.is-cleared.bombs--1 {
  color: blue;
}
.minesweeper__tile.is-cleared.bombs--2 {
  color: green;
}
.minesweeper__tile.is-cleared.bombs--3 {
  color: red;
}
.minesweeper__tile.is-cleared.bombs--4 {
  color: #000;
}
.minesweeper__tile.is-flagged {
  background: pink;
}
